﻿<h2><i class="fa fa fa-lightbulb-o fw"></i> Dicas</h2>

<h3>Pesquisar o tipo das colunas em tabela especifica</h3>
<pre><code><kbd>SQLSERVER</kbd>
SELECT 
    c.name 'Column Name',
    t.Name 'Data type',
    c.max_length 'Max Length',
    c.precision ,
    c.scale ,
    c.is_nullable,
    ISNULL(i.is_primary_key, 0) 'Primary Key'
FROM    
    sys.columns c
INNER JOIN 
    sys.types t ON c.user_type_id = t.user_type_id
LEFT OUTER JOIN 
    sys.index_columns ic ON ic.object_id = c.object_id AND ic.column_id = c.column_id
LEFT OUTER JOIN 
    sys.indexes i ON ic.object_id = i.object_id AND ic.index_id = i.index_id
WHERE
    c.object_id = OBJECT_ID('<strong>NOME_TABELA</strong>')
</code></pre>
Exemplo de Retorno

<a href="https://stackoverflow.com/questions/2418527/sql-server-query-to-get-the-list-of-columns-in-a-table-along-with-data-types-no">stackoverflow</a>

<hr>

<h3>Pesquisar o tipo das colunas em tabela especifica[2]</h3>
<pre><code><kbd>SQLSERVER</kbd>
sp_help 'nome_tabela'
</code></pre>
<hr>

<h3>Mascarar CPF</h3>
O Campo CPF atualmente é composto de 11 caracteres numéricos(0-9), para fins de exemplos o nosso CPF terá essa composicao:<code>003.456.789-01</code><br/>
Ou seja, como o nosso banco é um tipo numerico no BD , ele está gravado dessa forma:<code>345678901</code><br/>

<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>CPF ORIGINAL</th>
						<th>CPF CORRIGIDO</th>
						<th>CPF MASCARADO</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>345678901</td>
						<td>00345678901</td>
						<td>003.456.789-01</td>
					</tr>
					</tbody>
			</table>
		</div>
	</div>
</div>
<br clear="all">
<pre><code><kbd>SQLSERVER</kbd>
SELECT 
	'345678901' AS 'cpf original'
	,REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901') AS 'cpf com zeros'
	,SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),0,4)+'.'
		+SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),4,3)+'.'
		+SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),7,3)+'-'
		+SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),10,2) 
	AS ' cpf mascarado'   
</code></pre>

<br clear="all">

<h3>Criar tabela de BACKUP</h3>
<pre><kbd>SQLSERVER</kbd>
SELECT * INTO <strong>nova_tabela</strong> FROM <strong>tabela_atual</strong></pre>
<a href="https://imasters.com.br/artigo/12083/sql-server/como-copiar-estrutura-de-tabelas-no-sql-server?trace=1519021197&source=single">Fonte</a>


<h3>Verificar deadlock</h3>
<pre><kbd>SQLSERVER</kbd>
SELECT  L.request_session_id AS SPID, 
    DB_NAME(L.resource_database_id) AS DatabaseName,
    O.Name AS LockedObjectName, 
    P.object_id AS LockedObjectId, 
    L.resource_type AS LockedResource, 
    L.request_mode AS LockType,
    ST.text AS SqlStatementText,        
    ES.login_name AS LoginName,
    ES.host_name AS HostName,
    TST.is_user_transaction as IsUserTransaction,
    AT.name as TransactionName,
    CN.auth_scheme as AuthenticationMethod
FROM    sys.dm_tran_locks L
    JOIN sys.partitions P ON P.hobt_id = L.resource_associated_entity_id
    JOIN sys.objects O ON O.object_id = P.object_id
    JOIN sys.dm_exec_sessions ES ON ES.session_id = L.request_session_id
    JOIN sys.dm_tran_session_transactions TST ON ES.session_id = TST.session_id
    JOIN sys.dm_tran_active_transactions AT ON TST.transaction_id = AT.transaction_id
    JOIN sys.dm_exec_connections CN ON CN.session_id = ES.session_id
    CROSS APPLY sys.dm_exec_sql_text(CN.most_recent_sql_handle) AS ST
WHERE   resource_database_id = db_id()
ORDER BY L.request_session_id;
</pre>
Fonte[1]Joao Vigini - 
<a href="https://social.msdn.microsoft.com/Forums/pt-BR/95a71ef7-ddbc-48ad-aad1-af7b71187ebd/script-de-monitorao-de-locks?forum=transactsqlpt">Fonte[2]</a>

<h3>Desabilitando o AUTOINCREMENT</h3>
<pre><kbd>SQLSERVER</kbd>
SET IDENTITY_INSERT [TableName] ON
	INSERT INTO [TableName] VALUES (colunas(s));
SET IDENTITY_INSERT [TableName] OFF 
</pre>
Fonte: Guilherme Dambros

<h3>Exportando SCRIPT de banco de dados</h3>
<pre><kbd>MYSQL</kbd>
mysqldump -u usuario -p banco_de_dados > arquivo.sql
</pre>
Onde:<br>
<i>usuario: </i>nome do usuário no MySQL que tem acesso ao banco de dados<br>
<i>banco_de_dados:</i> nome do banco de dados que será exportado<br>
<i>arquivo.sql:</i> nome do arquivo para o qual os dados serão gravados<br>
Em seguida será solicitada a senha do usuário Mysql<br>
Fonte:
<a href="http://www.isoftsolutions.com.br/exportando-e-importando-banco-de-dados-no-mysql-pela-linha-de-comandos/">isoftsolutions</a>
