<h2><i class="fa fa-list-ul fw"></i> ARRAY</h2>

<h3>INICIALIZANDO</h3>
<pre>var cars = []; 
var cars = new Array("Saab", "Volvo", "BMW");</pre>

<h3>ACESSANDO</h3>
<pre>var name = cars[0];</pre>

<h3>MÉTODOS</h3>
<pre> var x = cars.length;   // A propriedade length retorna o número de elementos
var y = cars.sort();   // O método sort () classifica arrays </pre>

<h3>LOOPING</h3>
<pre>var fruits, text, fLen, i;

fruits = ["Banana", "Orange", "Apple", "Mango"];
fLen = fruits.length;
text = "&#60ul&#62";
for (i = 0; i < fLen; i++) {
    text += "&#60li&#62" + fruits[i] + "&#60/ li&#62";
}</pre>

<h3>ADICIONANDO</h3>
<pre>var fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.push("Lemon");</pre>