<h1><i class="fa fa-terminal"></i> CONSOLE</h1>

<h2>PRINTAR CORES NO CONSOLE</h2>
<pre><code>
console.log('%c Red ','color:hsl(0, 100%, 90%);background-color:hsl(0, 100%, 50%);');
console.log('%c Orange ','color:hsl(39, 100%, 85%);background-color:hsl(39, 100%, 50%);');
console.log('%c Yellow ','color:hsl(60, 100%, 35%);background-color:hsl(60, 100%, 50%);');
console.log('%c Green ','color:hsl(120, 100%, 60%);background-color:hsl(120, 100%, 25%);');
console.log('%c Blue ','color:hsl(240, 100%, 90%);background-color:hsl(240, 100%, 50%);');
console.log('%c Purple ','color:hsl(300, 100%, 85%);background-color:hsl(300, 100%, 25%);');
console.log('%c Black ','color:hsl(0, 0%, 80%);background-color:hsl(0, 0%, 0%);');
</code></pre>

<img src="../helper/images/console-1.png" class="img-responsive">

<h2>COM CSS</h2>
<pre><code>
console.log('%c Meu Texto','color: white; background-color: red;');  
console.log('%c', 'padding: 40px 45px;line-height:100px;background:url("http://i65.tinypic.com/dnixjm.png") no-repeat;background-size: cover;');  
</code></pre>

<a href="https://www.treinaweb.com.br/blog/aprenda-a-formatar-as-mensagens-do-console-do-navegador/?utm_source=dlvr.it&utm_medium=facebook">Fonte</a>