<h2><i class="mdi mdi-cube-outline fw"></i> OBJETO JS</h2>

<h3>Construindo</h3>
<pre> var pessoa = {}
pessoa.nome = 'Roberto'
pessoa.idade = '35'
pessoa.uf = 'RS'
</pre>
Verificando no console.log
<pre>console.log(pessoa)</pre>
Saida: <code> Object { nome="Roberto",  idade="35",  uf="RS"} </code>