<h2><i class="fa fa-gears fa-fw"></i> Comandos Básicos</h2>

<div class="fields">
    <h3>Site com a documentação do comando <strong>Vim</strong></h3>
    <a href="https://www.learnenough.com/text-editor-tutorial"><b>learnenoughtobedangerous</b></a>
</div>

<div class="fields">

    <h3>No terminal do Linux</h3>

    <fieldset class="fields">
        <legend>Iniciar o Vim</legend>
        <code>
            $ vim
        </code>
    </fieldset>

    <h3>Dentro do editor do Vim</h3>

    <fieldset class="fields">
        <legend>Sair do terminal</legend>
        <code>
            $ :q
        </code>
    </fieldset>

    <fieldset class="fields">
        <legend>Forçar saída do terminal</legend>
        <code>
            $ :q!
        </code>
    </fieldset>

    <fieldset class="fields">
        <legend>Gravar e sair</legend>
        <code>
            $ :wq
        </code>
    </fieldset>

    <fieldset class="fields">
        <legend>Entrar em modo de inserção</legend>
        <code>
            i
        </code>
    </fieldset>

    <fieldset class="fields">
        <legend>Sair do modo de inserção</legend>
        <code>
            ESC
        </code>
    </fieldset>

    <h3>Exemplo</h3>

    <fieldset class="fields">
        <legend>Criar alias para o comando git status - sequência de comandos</legend>
        <h4>Terminal</h4>
        <code>
            $ cd
        </code>
        <br />
        <code>
            $ vim .bash_profile
        </code>
        <h4>Dentro do editor do Vim</h4>
        <code>
            i
        </code>
        <br />
        <code>
            alias gs='git status'
        </code>
        <br />
        <code>
            ESC
        </code>
        <br />
        <code>
            :wq
        </code>
        <h4>Terminal</h4>
        <code>
            source .bash_profile
        </code>
    </fieldset>
    <br />

</div>