﻿<h2><i class="fa fa fa-lightbulb-o fw"></i> Dicas</h2>

<h3>Historico com os ultimos comandos executados</h3>
<pre>$ history | grep -i 'git' </pre>

<h3>ALIAS para criar comando de atalho</h3>
<pre><code>$ git config --global alias.st "status"</code></pre>

<h3>Para ver o arquivo que não foi commitado para o repositorio ORIGIN</h3>
<pre><code>$ git config --global alias.logdifforigin "log --name-only --pretty=format: master --not origin/master" </code></pre>
ou pesquisando pelo <strong>NOME DO SEU BRANCH</strong>

<pre><code>$ git logdifforigin = git log --name-only --pretty=format: nome_do_seu_bracnh_local --not origin/master</code></pre>
